<mat-card class="formCard"> 
<mat-horizontal-stepper linear>
    <mat-step [stepControl]="generalInfo">
        <ng-template matStepLabel>General information</ng-template>
        <form [formGroup]="generalInfo">
            <mat-form-field>
                <mat-label>Title:</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
            <mat-label>Type:</mat-label>
            <mat-radio-group class="radioButtons" formControlName="type">
                <mat-radio-button class="radioButton" type="radio" name="type" value="Internship">Internship</mat-radio-button>
                <mat-radio-button class="radioButton" type="radio" name="type" value="Course">Course</mat-radio-button>
                <mat-radio-button class="radioButton" type="radio" name="type" value="Ad">Ad</mat-radio-button>
                <mat-radio-button class="radioButton" type="radio" name="type" value="Other">Other</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                <mat-label>Vacant Positions:</mat-label>
                <input matInput type="text" formControlName="vacantPositions">
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="descripInfo">
        <ng-template matStepLabel>Description</ng-template>
        <form [formGroup]="descripInfo">
            <mat-form-field>
                <mat-label>Description:</mat-label>
                <textarea matInput type="text" formControlName="description"></textarea>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="timeInfo">
        <ng-template matStepLabel>Time and Space</ng-template>
        <form [formGroup]="timeInfo">
            <mat-form-field>
                <mat-label>Application Date:</mat-label>
                <input matInput formControlName="applicationDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Begin Date:</mat-label>
                <input matInput formControlName="beginDate" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="miscInfo">
        <ng-template matStepLabel>Other</ng-template>
        <form [formGroup]="miscInfo">
            <mat-form-field>
                <mat-label>Requirements:</mat-label>
                <textarea matInput type="text" formControlName="requirements"></textarea>
            </mat-form-field>
            <mat-form-field>
                <label>Tags:</label>
                <input matInput type="text" formControlName="tags">
            </mat-form-field>
        </form>
    </mat-step>
</mat-horizontal-stepper>
</mat-card>
