.card {
    &__title {
        font-size: large;
    }

    &__description {
        font-size: medium;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        &__apply-btn, &__details-btn, &__modify-btn {
            
        }
    }
}