<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/add"><i class="fa fa-plus-square"></i> Adauga anunt</a>
    <a *ngIf="!(toggle()===1)" class="nav-item nav-link" routerLink="/landing-page">Anunturi</a>
    <a *ngIf="!(toggle()===0)" class="nav-item nav-link" routerLink="/home">Anunturile tale</a>
    <!-- <a class="nav-item nav-link" routerLink="/new-announcement" *ngIf="currentUser.role === '[ADMIN_PRIVILEGE]'">Anunturi noi</a> -->
    <!-- keeping dev alive -->
    <div class="dropdown" *ngIf="currentUser.role === '[ADMIN_PRIVILEGE]'">
      <button class="dropbtn">Nou</button>
      <div class="dropdown-content">
        <a class="nav-item nav-link" routerLink="/new-announcement">Anunturi noi</a>
        <a class="nav-item nav-link" routerLink="/new-users">Utilizatori noi</a>
      </div>
    </div>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<!-- <a routerLink="/edit/54" routerLinkActive="active">Temporary jump to edit</a> -->
<!-- main app container -->
<div class="jumbotron" style="background-image: linear-gradient(lightgray, white)">
  <img src="../assets/logo.png" alt="UBB logo" style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" >
  <div class="container">
    <div class="row">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

