<mat-card class="formCard"> 
    <!-- <mat-horizontal-stepper linear> -->
    <mat-horizontal-stepper > 
        <mat-step [stepControl]="generalInfo" errorMessage="There are still unfinished fields">
            <ng-template matStepLabel>General information</ng-template>
            <form [formGroup]="generalInfo">
                <mat-form-field>
                    <mat-label>Title:</mat-label>
                    <input matInput type="text" formControlName="title">
                    <mat-error>Title is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Link:</mat-label>
                    <input matInput type="text" formControlName="link">
                </mat-form-field>
                <mat-label [hidden]="true">Type:</mat-label>
                <mat-radio-group class="radioButtons" formControlName="type" [hidden]="true">
                    <mat-radio-button class="radioButton" type="radio" name="type" value="internship">Internship</mat-radio-button>
                    <mat-radio-button class="radioButton" type="radio" name="type" value="job">Job</mat-radio-button>
                    <mat-radio-button class="radioButton" type="radio" name="type" value="course">Course</mat-radio-button>
                    <mat-radio-button class="radioButton" type="radio" name="type" value="contest">Contest</mat-radio-button>
                    <mat-radio-button class="radioButton" type="radio" name="type" value="scholarship">Scholarship</mat-radio-button>
                    <mat-radio-button class="radioButton" type="radio" name="type" value="other">Other</mat-radio-button>
                    <div *ngIf="generalInfo.controls.type.value == 'Ad'">Content to render when condition is true.</div>
                    <mat-error *ngIf="generalInfo.controls.type.invalid && !generalInfo.pristine">Type is required</mat-error>
                </mat-radio-group>
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'scholarship' || generalInfo.controls.type.value == 'internship'">
                    <mat-label>Vacant Positions:</mat-label>
                    <input matInput type="text" formControlName="vacantPositions">
                </mat-form-field>
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'contest'">
                    <mat-label>Price:</mat-label>
                    <input matInput type="text" formControlName="price">
                </mat-form-field>
                <form [formGroup]="imageInfo" [hidden]="false">
                    <input type="file" formControlName="image" (change)="onImageChange($event)">
                </form>
            </form>
        </mat-step>
        <mat-step [stepControl]="descripInfo">
            <ng-template matStepLabel>Description</ng-template>
            <form [formGroup]="descripInfo">
                <mat-form-field>
                    <mat-label>Short description:</mat-label>
                    <textarea matInput type="text" formControlName="shortDesc"></textarea>
                    <mat-error>Short description is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description:</mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                    <mat-error>Description is required</mat-error>
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step [stepControl]="timeInfo" *ngIf="generalInfo.controls.type.value != 'other'">
            <ng-template matStepLabel>Time and Space</ng-template>
            <form [formGroup]="timeInfo">
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'course' || generalInfo.controls.type.value == 'internship'">
                    <mat-label>Start Date:</mat-label>
                    <input matInput formControlName="startDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Limit Date:</mat-label>
                    <input matInput formControlName="limitDate" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'contest'">
                    <mat-label>Date:</mat-label>
                    <input matInput formControlName="date" [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'contest'">
                    <mat-label>Location:</mat-label>
                    <input matInput formControlName="location">
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step [stepControl]="miscInfo">
            <ng-template matStepLabel>Other</ng-template>
            <form [formGroup]="miscInfo">
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'job' || generalInfo.controls.type.value == 'internship' || generalInfo.controls.type.value == 'scholarship'">
                    <mat-label>Requirements:</mat-label>
                    <textarea matInput type="text" formControlName="requirements"></textarea>
                </mat-form-field>
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'contest'">
                    <mat-label>Prize:</mat-label>
                    <textarea matInput type="text" formControlName="prize"></textarea>
                </mat-form-field>
                <mat-form-field *ngIf="generalInfo.controls.type.value == 'other'">
                    <mat-label>Details:</mat-label>
                    <textarea matInput type="text" formControlName="details"></textarea>
                </mat-form-field>
                <!-- <mat-form-field> -->
                    <!-- <mat-label>Tags:</mat-label> -->
                    <!-- <input matInput type="text" formControlName="tags"> -->
                    <button mat-button (click)="toggleShow()">Add Tags</button>
                <!-- </mat-form-field> -->
            </form>
            <app-tag-list></app-tag-list>
            <button mat-button (click)="createAnnouncement()" [disabled]="generalInfo.invalid || descripInfo.invalid || miscInfo.invalid || timeInfo.invalid || imageInfo.invalid">Submit</button>
        </mat-step>
    </mat-horizontal-stepper>
    </mat-card>
    <div class="modalDiv" *ngIf="showModal">
        <mat-card class="contentDiv">
            <button class="closeModal" mat-icon-button (click)="toggleShow()"><mat-icon>clear</mat-icon></button>
            <form (ngSubmit)="onSubmit()" [formGroup]="tagInfo">
                <mat-form-field>
                    <mat-label>Tag:</mat-label>
                    <input matInput formControlName="tags">
                </mat-form-field>
                <button mat-button class="addButton" type="submit">Add</button>
            </form>
            <app-tag-list></app-tag-list>
        </mat-card>
    </div>
    
    