<link rel="stylesheet" href="announcement-details.component.css">

<div *ngIf="announcement" style="margin-top: 60px">
    <p>{{announcement.title}}</p>
    <br>
    <p>{{announcement.type}}</p>
    <br>
    <p>{{announcement.description}}</p>
    <br>
    <p>{{announcement.applicationDate}}</p>
    <br>
    <p>{{announcement.beginDate}}</p>
    <br>
    <p>{{announcement.duration}}</p>
    <br>
    <p>{{announcement.requirements}}</p>
    <br>
    <p>{{announcement.vacantPositions}}</p>
    <br>
    <a href="{{announcement.link}}">Aplica aici!</a>
</div>
